{
	"broadcaster" : {
		"enable_all_events": true
	},
	"logging": {
		"file": "/var/log/omegaup/service.log",
		"perf_file": "/var/log/omegaup/perf.log",
		"level": "info"
	},
	"omegaup": {
		"salt": "omegaup",
		"role_url": "https://localhost/api/contest/role/"
	},
	"db": {
		"driver": "com.mysql.jdbc.Driver",
		"url": "jdbc:mysql://localhost/omegaup?autoReconnect=true",
		"user": "root",
		"password": "omegaup"
	},
	"common": {
		"roots": {
			"compile": "/var/lib/omegaup/compile",
			"grade": "/var/lib/omegaup/grade",
			"input": "/var/lib/omegaup/input",
			"problems": "/var/lib/omegaup/problems",
			"submissions": "/var/lib/omegaup/submissions"
		}
	},
	"ssl": {
		"keystore_path": "/opt/omegaup/bin/omegaup.jks",
		"keystore_password": "omegaup",
		"truststore_path": "/opt/omegaup/bin/omegaup.jks",
		"truststore_password": "omegaup",
		"password": "omegaup"
	},
	"grader": {
		"port": 21680,
		"memory_limit": 2048,		
		"scoreboard_refresh": {
			"url": "https://localhost/api/scoreboard/refresh/",
			"token": "secrettoken"
		},
		"embedded_runner_enabled": true
	},
	"true": {
		"preserve": false
	}
}
