[Unit]
Description=omegaUp grading service

[Service]
ExecStart=/usr/bin/java -cp /usr/share/java/mysql.jar:/opt/omegaup/bin/grader.jar com.omegaup.Service --config /opt/omegaup/bin/omegaup.conf --output /var/log/omegaup/service.log
User=omegaup

[Install]
WantedBy=multi-user.target
